# Generated code
/@types/gir-generated/*

# Leave markdown files and icon files alone
*.md
/icon/

# npm configuration and packages
/package.json
/node_modules/

# Compiled extension file
/extension.js
