# Generated code
/@types/gir-generated/*

# Leave markdown files and icon files alone
*.md
/icon/

# Package things
/package.json
/package-lock.json
/node_modules/

# Compiled extension file
/extension.js
